*.mo
*.pyd
*.pyo
*.bak
*.7z
*.hgignore
*.user
*.orig
*.htm
Debug
Debug Unix
currentRelease/libisimpa/
currentRelease/doc/documentation/Offline_documentation/doctrees/
*.ncb
*.rar
*.tags
*.idb
*.pdb
*.suo
*.depend
*.exe
*.dll
*.pyc
*.pyd
*.obj
*~
*.exp
*.lib
.idea/
CMakeCache.txt
CMakeFiles/
enum_def.cpp
enum_doxygen.h
vc_msw/
vc_mswd/
Thumbs.db
.cmake_dirty
.codelite/
I-Simpa.workspace
Makefile
isimpa.mk
isimpa.project
build/
make.bat
files.txt
*.pot
# cmake should convert .po files into .mo files if necessary
*.mo
.vscode
