*.mo
*.pyd
*.pyo
*.bak
*.7z
*.hgignore
*.user
*.orig
*.htm
Debug
Debug Unix
currentRelease/libisimpa/
*.ncb
*.rar
*.tags
*.idb
*.pdb
*.suo
*.depend
*.exe
*.pyc
*.pyd
*.obj
*~
*.exp
*.lib
enum_def.cpp
images/
vc_msw/
vc_mswd/