*.mo
*.pyd
*.pyo
*.bak
*.7z
*.hgignore
*.user
*.orig
*.htm
Debug
Debug Unix
currentRelease/libisimpa/
*.ncb
*.rar
*.tags
*.idb
*.pdb
*.suo
*.depend
*.exe
*.dll
*.pyc
*.pyd
*.obj
*~
*.exp
*.lib
.idea/
CMakeCache.txt
CMakeFiles/
enum_def.cpp
enum_doxygen.h
images/
vc_msw/
vc_mswd/
Thumbs.db
.cmake_dirty
.codelite/
I-Simpa.workspace
Makefile
isimpa.mk
isimpa.project
